<script src="./resources/js/nav.js" type="text/JavaScript"></script>
<link rel="stylesheet" href="./resources/css/nav.css" type="text/css">
<nav id="navbar">
  <div class="logo">
      <a href="index.html">Katie's K9s</a>
  </div>
  <ul class="nav-links">
      <li><a href="index.html">Home</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="reviews.html">Reviews</a></li>
      <li><a href="contact.html">Contact</a></li>
  </ul>
  <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
</nav>
